# Ignore list for KiCAD Projects
# Temporary files
*.000
*.bak
*.bck
*.Easy_EDA_pcb-bak
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.Easy_EDA_pcb
fp-info-cache
# Netlist files (exported from Eeschema)
*.net
# Autorouter files (exported from Pcbnew)
*.dsn
*.ses
*.zip